{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_widgethub/modal

    Modal to manage components within the Tiny Editor.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-selectable: The selectable state of the button.
    * data-category: The category of the button.

    Context variables required for this template:
    * selectMode: The mode of the modal.
    * elementid: The id of the element.
    * rid: The random id.
    * searchText: The text to search.
    * categories: The categories of the widget.

    Example context (json):
    {
        "selectMode": false,
        "elementid": "elementid",
        "rid": "rid",
        "searchText": "searchText",
        "categories": [
            {
                "name": "catname",
                "color": "100, 20%",
                "hidden": false,
                "buttons": [
                    {
                        "elementid": "elementid",
                        "widgetindex": "widgetindex",
                        "hidden": false,
                        "selectable": false,
                        "iconname": "iconname",
                        "disabled": false,
                        "widgettitle": "widget title",
                        "category": "Category",
                        "widgetkey": "widget key",
                        "widgetname": "widget name"
                    }
                ]
            }
        ]
    }
}}
{{< core/modal }}
    {{$title}}
        {{#str}} dialogtitle, tiny_widgethub {{/str}}
    {{/title}}
    {{$body}}
        <div class="tiny_widgethub-container">
           <div class="tiny_widgethub-top input-group">
                <input type="text" name="widgethub_search_textfield" class="form-control" placeholder="{{#str}} wsearch, tiny_widgethub {{/str}}" style="width:80%" value="{{searchText}}">
                <button id="widget-clearfilter-btn{{rid}}" class="ml-1 btn btn-sm btn-secondary" title="{{#str}} rmfilter, tiny_widgethub {{/str}}">
                    <i class="fa fas fa-times"></i>
                </button>
                <div class="tiny_widgethub-recent p-2">
                    {{#recent}}
                    <a href="javascript:void(0)" data-key="{{key}}" data-insert="recent"><span class="badge badge-secondary">{{name}}</span></a>
                    {{/recent}}
                </div>
            </div>
            
            <div class="row mt-2">
                <div class="col-md-4" style="position: relative">
                    <ul id="{{rid}}_list" class="nav nav-pills flex-md-column">
                        {{#categories}}
                            <li class="nav-item">
                                <a class="nav-link" href="#{{rid}}_{{name}}">{{name}}</a>
                            </li>
                        {{/categories}}
                    </ul>
                    <div class="tiny_widgethub-preview"></div>
                </div>
                <div class="col-md-8 pl-md-0 tiny_widgethub-categorycontainer"
                     data-spy="scroll" data-bs-spy="scroll" data-target="#{{rid}}_list" data-offset="0">
                
                    <div class="tiny_widgethub-emptylist d-none"><span>{{#str}} emptylist, tiny_widgethub {{/str}}</span></div>
                    {{#categories}}
                    <div class="tiny_widgethub-category{{#hidden}} d-none{{/hidden}}"
                        style="border: 2px solid hsl({{color}}, 40%);background: hsl({{color}}, 96%);" id="{{rid}}_{{name}}">
                        <div class="tiny_widgethub-lateral" style="background: hsl({{color}}, 40%);">
                            <p class="tiny_widgethub-title">{{name}}</p>
                        </div>
                        <div class="d-flex flex-column px-4 py-2">
                           {{#buttons}}
                                <div style="align-items: flex-end;" data-key="{{widgetkey}}"
                                    class="row mb-1 btn-group{{#hidden}} d-none{{/hidden}}{{#disabled}} tiny_widgethub-disabled{{/disabled}}"
                                    {{#selectable}} data-selectable="true"{{/selectable}}>
                                {{#isfilter}}
                                  <button class="col-2 btn {{#filterset}}btn-primary{{/filterset}} {{^filterset}}btn-outline-primary{{/filterset}}" data-auto="{{filterset}}" title="Automatic">
                                    <i class="fas fa fa-flag-checkered"></i>
                                  </button>
                                {{/isfilter}}
                                <button title="{{widgettitle}}" data-category="{{category}}" 
                                    class="{{#isfilter}}col-8{{/isfilter}} {{^isfilter}}col-10{{/isfilter}} btn btn-outline-primary tiny_widgethub-btn" data-insert="false"> 
                                        <span>{{#disabled}}<i class="fa fas fa-ban"></i>{{/disabled}} {{widgetname}}</span>
                                </button>
                                <button class="col-2 btn btn-outline-primary" data-insert="true" title="{{#str}} directinsert, tiny_widgethub {{/str}}">
                                    <i class="fa-solid fa-arrow-turn-down"></i>
                                </button>

                                </div>
                            {{/buttons}}
                        </div>
                    </div>
                    {{/categories}}

                </div>
            </div>
        </div>
    {{/body}}
{{/ core/modal }}