/** Variables **/

/********************************** WidgetHub plugin styles */
.tiny_widgethub-container {
  position: relative;
  div.tiny_widgethub-top {
    position: relative;
    vertical-align: middle;
    margin-top: 5px;
    display: flex;
  }
}

.tiny_widgethub-preview {
  display: none;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 30%;
  max-height: 150px;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 3px 3px gray;
  overflow: hidden;
  background: white;
  z-index: 1000;
}

.tiny_widgethub-recent {
  flex-basis: 100%;
}

.tiny_widgethub-preview > * {
  margin: auto;
  transform: scale(70%);
  transform-origin: 50% 0;
}

#list-categories {
  font-size: 0.8rem;
  background: whitesmoke;
}

.tiny_widgethub-previewpanel {
  border: 1px solid gray;
  width: 98%;
  height: 300px;
  margin: 5px;
  padding: 10px;
  overflow: auto;
}

.tiny_widgethub-ymlcontrol {
    width: 100%;
    height: 300px;
    overflow: auto;
}

.tiny_widgethub-ymlcontrol .cm-editor {
    height: 300px;
}

.tiny_widgethub-dropdownsub {
  position: relative;
}

.tiny_widgethub-dropdownsub > .tiny_widgethub-dropdown {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.tiny_widgethub-dropdownsub:hover > .tiny_widgethub-dropdown {
  display: block;
}

.tiny_widgethub-dropdownsub > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.tiny_widgethub-dropdownsub:hover > a:after {
  border-left-color: #fff;
}

.tiny_widgethub-dropdownsub.pull-left {
  float: none;
}

.tiny_widgethub-dropdownsub.pull-left > .tiny_widgethub-dropdown {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

#tiny_widgethub-popup a, #tiny_widgethub-popup span {
  font-size: 90%;
}

div.tiny_widgethub-growl {
  font-size: 90%;
  position: fixed;
  width: 300px;
  height: 100px;
  bottom: 10px;
  right: 10px;
  z-index: 19999;
  box-shadow: 3px 3px gray;
  overflow: hidden;
}

/** Other plugin styles **/
.tiny_widgethub-emptylist {
  margin: 45px;
}

.tiny_widgethub-categorycontainer {
  position: relative;
  max-height: 450px; 
  overflow: hidden auto;
}

.tiny_widgethub-category {
  margin:2px auto;
  width: 99%;
  display:table;
}

.tiny_widgethub-category button {
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tiny_widgethub-disabled > button {
  opacity: 60%;
}

.tiny_widgethub-lateral {
  display: table-cell;
  position: relative;
  width: 20px;
  max-width: 20px;
  height: 100px;
  color: white;
  vertical-align: bottom;
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
}

.tiny_widgethub-title {
  padding-left: 5px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 12px;
  white-space: nowrap;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.tiny_widgethub-instructionstext {
  font-size: 90%;
  line-height: 1.25em;
}

h4.tiny_widgethub-headertext {
  margin-top: 10px;
}

.tiny_widgethub-uds {
  background-color: #e7f2f9;
}

.tiny_widgethub-uds:nth-child(odd) {
  background-color: whitesmoke;
}

.tiny_widgethub-pattern {
  display: inline-block;
  height: 24px;
  vertical-align: sub;
  position: relative;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-linear-gradient(45deg, #565656 25%, transparent 25%, transparent 75%, #565656 75%, #565656), repeating-linear-gradient(45deg, #565656 25%, #e5e5f7 25%, #e5e5f7 75%, #565656 75%, #565656);
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
}

.tiny_widgethub-pattern > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tiny_widgethub-blink {
  animation: tiny_widgethub-blinker 1s infinite;
}

@keyframes tiny_widgethub-blinker {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.25;
  }
  to {
    opacity: 1.0;
  }
}

/********************************** Specific Widget definitions styles */

/** subsection **/
h4.wh-subsub {
  position: relative;
  padding-left: 16px;
  font-size: 1.32rem;
  font-style: italic;
  font-weight: bold;
}

@media(max-width: 1200px) {
  h4.wh-subsub {
     font-size: calc(0.87625rem + 0.6075vw);
  }
}

h4.wh-subsub::before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 1px;
  background: #bed0f6;
}

/** Widget quote **/
.wh-quote {
  background: #f6f6ff;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
}

.wh-quote p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
}

.wh-quote cite {
  font-size: 14px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.9;
}

.wh-quote:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5em;
  color: rgba(91, 88, 241, .3);
  font-weight: normal;
}

.wh-quote:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: -32px;
  font-size: 20em;
  color: rgba(91, 88, 241, .3);
  font-weight: normal;
}

@media (max-width: 640px) {
  .wh-quote:after {
    font-size: 18em;
    right: -25px;
  }
}


/** Component text fragment **/
.wh-fragment {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 35px auto;
  min-height: 300px;
  padding: 24px 24px 24px 24px;
  position: relative;
  width: 92%;
  z-index: 1;
}

.wh-fragment > h4:first-of-type {
  margin-bottom: 20px;
  font-size: 125%;
}

.wh-fragment p {
  font-size: 95%;
}

.wh-fragment>cite {
  opacity: 0.8;
}

.wh-fragment:before, .wh-fragment:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.wh-fragment:before {
  background: #f6f6f6;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  left: -5px;
  top: 4px;
  transform: rotate(-1deg);
}

.wh-fragment:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  right: -3px;
  top: 1px;
  transform: rotate(0.4deg);
}

/** Video **/
.wh-video-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.wh-videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.wh-videoWrapper:has(.h5p-placeholder) {
  margin-bottom: 18px;
}

.wh-videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wh-caption {
  text-align: center;
  margin: 10px auto;
}

.wh-caption-counter {
  font-weight: bold;
  font-size: 90%;
}

.wh-caption-title {
  font-style: italic;
  font-size: 90%;
}

/** Medias and responsivity **/
/* 
   ##Device = Most of the Smartphones Mobiles (Portrait)
   ##Screen = B/w 320px to 479px
  */
@media (max-width: 480px) {
  .wh-video-container {
    width: 95%;
    margin: auto;
  }
}

/* 
   ##Device = Low Resolution Tablets, Mobiles (Landscape)
   ##Screen = B/w 481px to 767px
  */
@media (max-width: 767px) {
  .tiny_widgethub-preview {
    display: none!important
  }
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
  */
@media (min-width: 1281px) {
  .wh-video-container {
    width: 75%;
    margin: auto;
  }
}


/************** Dedication time */
.wh-rwrap {
  text-align: right;
  font-size: 0;
}

i.fad.fa-stopwatch::before {
  content: "\f017";
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-style: normal;
  font-weight: 900;
}

.wh-ctx {
  display: inline-block;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background: rgb(31, 106, 219);
  color: rgb(241, 245, 254);
  margin: 0;
  padding: 4px;
  width: 18px;
  font-size: 11px;
}

.wh-time {
  display: inline-block;
  margin: 0px;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: rgb(241, 245, 254);
  color: rgb(31, 106, 219);
  font-size: 12px;
}

.wh-time > span {
  font-weight: bold;
  font-style: normal;
}
