/** Variables **/
$ampliacio-fons-color: #edf4ff;
$ampliacio-lateral-color: #3978d8;

$important-fons-color: #fdfcd6;
$important-lateral-color: #e39250;

$exemple-lateral-color: #4C7F35;
$exemple-fons-color: #f2f9f0;

$alerta-fons-color: #faf1f1;
$alerta-lateral-color: #c64949;

$consell-lateral-color: rgb(172, 20, 154);
$consell-fons-color: rgb(251, 237, 248);

$introduccio-lateral-color: rgb(121, 121, 121);

$solucio-fons-color: rgb(219, 242, 248);
$solucio-border-color: rgb(13, 38, 68);

/********************************** WidgetHub plugin styles */
.tiny_widgethub-container {
  position: relative;
  div.tiny_widgethub-top {
    position: relative;
    vertical-align: middle;
    margin-top: 5px;
    display: flex;
  }
}

.tiny_widgethub-preview {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  max-height: 150px;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 3px 3px gray;
  overflow: hidden;
  background: white;
  z-index: 1000;
}

.tiny_widgethub-recent {
  flex-basis: 100%;
}

.tiny_widgethub-preview > * {
  margin: auto;
  transform: scale(70%);
  transform-origin: 50% 0;
}

#list-categories {
  font-size: 0.8rem;
  background: whitesmoke;
}

.tiny_widgethub-previewpanel {
  border: 1px solid gray;
  width: 98%;
  height: 300px;
  margin: 5px;
  padding: 10px;
  overflow: auto;
}

.tiny_widgethub-ymlcontrol {
    width: 100%;
    height: 300px;
    overflow: auto;
}

.tiny_widgethub-ymlcontrol .cm-editor {
    height: 300px;
}

.tiny_widgethub-dropdownsub {
  position: relative;
}

.tiny_widgethub-dropdownsub > .tiny_widgethub-dropdown {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.tiny_widgethub-dropdownsub:hover > .tiny_widgethub-dropdown {
  display: block;
}

.tiny_widgethub-dropdownsub > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.tiny_widgethub-dropdownsub:hover > a:after {
  border-left-color: #fff;
}

.tiny_widgethub-dropdownsub.pull-left {
  float: none;
}

.tiny_widgethub-dropdownsub.pull-left > .tiny_widgethub-dropdown {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

#tiny_widgethub-popup a, #tiny_widgethub-popup span {
  font-size: 90%;
}

div.tiny_widgethub-growl {
  font-size: 90%;
  position: fixed;
  width: 300px;
  height: 100px;
  bottom: 10px;
  right: 10px;
  z-index: 19999;
  box-shadow: 3px 3px gray;
  overflow: hidden;
}

/** Other plugin styles **/
.tiny_widgethub-hidden {  
  display: none!important;
}

.tiny_widgethub-emptylist {
  margin: 45px;
}

.tiny_widgethub-categorycontainer {
  position: relative;
  max-height: 450px; 
  overflow: hidden auto;
}

.tiny_widgethub-category {
  margin:2px auto;
  width: 99%;
  display:table;
}

.tiny_widgethub-category button {
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tiny_widgethub-disabled > button {
  opacity: 60%;
}

.tiny_widgethub-lateral {
  display: table-cell;
  position: relative;
  width: 20px;
  max-width: 20px;
  height: 100px;
  color: white;
  vertical-align: bottom;
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
}

.tiny_widgethub-title {
  padding-left: 5px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 12px;
  white-space: nowrap;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.tiny_widgethub-instructionstext {
  font-size: 90%;
  line-height: 1.25em;
}

h4.tiny_widgethub-headertext {
  margin-top: 10px;
}

.tiny_widgethub-uds {
  background-color: #e7f2f9;
}

.tiny_widgethub-uds:nth-child(odd) {
  background-color: whitesmoke;
}

.tiny_widgethub-pattern {
  display: inline-block;
  height: 24px;
  vertical-align: sub;
  position: relative;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: repeating-linear-gradient(45deg, #565656 25%, transparent 25%, transparent 75%, #565656 75%, #565656), repeating-linear-gradient(45deg, #565656 25%, #e5e5f7 25%, #e5e5f7 75%, #565656 75%, #565656);
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
}

.tiny_widgethub-pattern > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tiny_widgethub-blink {
  animation: tiny_widgethub-blinker 1s infinite;
}

@keyframes tiny_widgethub-blinker {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.25;
  }
  to {
    opacity: 1.0;
  }
}

/********************************** Specific Widget definitions styles */
/** Compatibility bs < 4 **/
.accordion-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
}

.accordion-heading {
  padding: .5rem;
  margin-bottom: 0;
  background-color: #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.accordion-body {
  padding: 5px;
}

.accordion-toggle:hover {
  text-decoration: none;
}

.icon.icon-plus-sign {
  display: none;
}

a.accordion-toggle:not([aria-expanded="true"])::before {
  content: "\f0d7";
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-weight: 900;
}

a.accordion-toggle[aria-expanded="true"]:before {
  content: "\f0d8";
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-weight: 900;
}

/* Tabs menu */
.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/* Problem with li active */
.nav-tabs>li>a.active, .nav-tabs>li.active>a:not([class]) {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-tabs>li>a:hover {
  border-color: #eee #eee #ddd;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #eee;
}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

/* Grid system */
/* lost from 3.8 to 4.1 */
.row-fluid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

/* Fix row-fluid Moodle override */
.iedib-figura .row-fluid, .iedib-tabpane.row-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}

.iedib-fluid {
  min-height: 105px;
  margin-right: 0;
  margin-left: 0;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.span1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.333333%;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.span2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.666667%;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.span3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.span4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.span5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.span6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.span7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.333333%;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.span8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.666667%;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.span9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.span10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.333333%;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.span11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.666667%;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.span12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}


/** Definició de capses diverses excloent exemples **/
.iedib-capsa {
  display: table;
  width: 98%;
  margin: 0;
  margin-left: 4px;
  margin-top: 10px;
}

.iedib-capsa-gran, .iedib-capsa-mitjana {
  width: 98%;
}

.iedib-capsa-petita {
  width: 45%;
  margin: 5px auto;
}

.iedib-introduccio-border, .iedib-ampliacio-border {
  box-shadow: 1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
}

.iedib-alerta-border {
  background: $alerta-fons-color;
}

.iedib-important-border {
  background: $important-fons-color;
}

.iedib-alerta {
  background: $alerta-lateral-color;
}

.iedib-important {
  background: $important-lateral-color;
}

.iedib-ampliacio {
  background: $ampliacio-lateral-color;
}

.iedib-tasca {
  border-bottom: 4px solid d0d0d0;
  background-color: #d4e0f9;
}

div.iedib-tasca > h4:first-of-type {
  font-size: 130%;
}

.iedib-lateral.iedib-consell {
  background: $consell-lateral-color;
}

.iedib-consell-border {
  background: $consell-fons-color;
}

.iedib-lateral {
  display: table-cell;
  position: relative;
  width: 14px;
  max-width: 16px;
  color: white;
  vertical-align: bottom;
  z-index: 1;
  height: 105px;
}

.iedib-titolLateral {
  font-weight: 500;
  font-size: 10.5px;
  padding-left: 3px;
  margin-bottom: 1px;
  margin-left: 1px;
  white-space: nowrap;
  text-align: right;
  transform: rotate(-89.9deg);
  -webkit-transform: rotate(-89.9deg);
  -moz-transform: rotate(-89.9deg);
  -ms-transform: rotate(-89.9deg);
  -o-transform: rotate(-89.9deg);
}

.iedib-lateral.iedib-important::after,
.iedib-lateral.iedib-alerta::after,
.iedib-lateral.iedib-ampliacio::after,
.iedib-lateral.iedib-introduccio::after,
.iedib-lateral.iedib-exemple::after,
.iedib-lateral.iedib-consell::after {
  font-size: 14px;
  width: 16px;
  height: 22px;
  position: absolute;
  top: -1px;
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-weight: 900;
  color: white;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border-bottom: 1px solid white;
}

.iedib-lateral.iedib-important::after {
  background: $important-lateral-color;
  content: "\f08d";
}

.iedib-lateral.iedib-alerta::after {
  background: $alerta-lateral-color;
  content: "\f071";
}

.iedib-lateral.iedib-ampliacio::after {
  background: $ampliacio-lateral-color;
  content: "\f00e";
}

.iedib-lateral.iedib-introduccio::after {
  background: $introduccio-lateral-color;
  content: "\f041";
}

.iedib-lateral.iedib-consell::after {
  background: $consell-lateral-color;
  content: "\f0eb";
}

.iedib-tasca-logo {
  display: none;
}

.iedib-alerta-logo {
  display: none;
}

.iedib-central {
  display: table-cell;
  vertical-align: top;
  padding: 9px 17px;
  text-align: left;
  font-size: 96%;
}

.iedib-solucio {
  border-radius: 5px;
  background: $solucio-fons-color;
  border: 1px solid $solucio-border-color;
  color: $solucio-border-color;
}

.iedib-introduccio {
  background: $introduccio-lateral-color;
  height: 125px;
}


/** optimització d'altures **/
.iedib-lateral.iedib-alerta {
  height: 89px;
}

.iedib-capsa[data-lang="ca"]>.iedib-lateral.iedib-alerta,
.iedib-capsa[data-lang="es"]>.iedib-lateral.iedib-alerta {
  height: 69px;
}

.iedib-lateral.iedib-important {
  height: 95px;
}

.iedib-lateral.iedib-ampliacio {
  height: 92px;
}

.iedib-capsa[data-lang="de"]>.iedib-lateral.iedib-ampliacio {
  height: 106px;
}

.iedib-lateral.iedib-consell {
  height: 77px;
}

.iedib-capsa[data-lang="de"]>.iedib-lateral.iedib-consell {
  height: 52px;
}

/** Totes les famílies d'exemples, intentar unificar **/
.iedib-exemple {
  background: $exemple-lateral-color;
  outline: 1px solid $exemple-lateral-color;
}

.iedib-exemple-border {
  border: 1px solid $exemple-fons-color; 
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
}

.iedib-exemple-border .accordion-heading {
  background: none;
}

.iedib-lateral.iedib-exemple::after {
  background: $exemple-lateral-color;
  content: "\f06e";
}

.span4.iedib-formulacio {
  font-size: 95%;
  text-align: left;
  padding-left: 15px;
  padding-right: 10px;
}

.iedib-formulacio {
  background: $exemple-fons-color;
  border: 1px solid lightgray;
  padding: 5px;
  height: 100%;
}

.iedib-formulacio-rows {
  background: $exemple-fons-color;
  border: 1px solid lightgray;
  padding: 5px;
}

.iedib-exemple-border>.iedib-central {
  background: $exemple-fons-color;
}

.iedib-resolucio {
  height: 100%;
  padding-right: 10px;
  padding-top: 5px;
}

.iedib-formulacio-rows>.iedib-resolucio>.iedib-central {
  display: initial;
}

.iedib-solutionBox {
  text-align: center;
  width: 100%;
  padding: 5px;
}

.iedib-labelSolution {
  color: #0070a8;
  font-weight: bold;
  font-size: normal;
}

.span8.iedib-resolucio>.iedib-central {
  padding-left: 5px;
}

.iedib-resolucio-rows, .iedib-formulacio-rows {
  padding: 10px;
}


/* etiquetes en línia */
.iedib-ret {
  position: relative;  
}

.iedib-ret-trl {
  font-size: 0;
  color: white;
  opacity: 0;
  padding: 0;
  margin: 0;
}

.iedib-ret-alerta {
  margin: 0 5px 0 25px;
  padding: 2px 5px;
  background: $alerta-fons-color;
  border-left: 2px solid $alerta-lateral-color;
}

.iedib-ret-important {
  margin: 0 5px 0 25px;
  padding: 2px 5px;
  background: $important-fons-color;
  border-left: 2px solid $important-lateral-color;
}

.iedib-ret-consell {
  margin: 0 5px 0 25px;
  padding: 2px 5px;
  background: $consell-fons-color;
  border-left: 2px solid $consell-lateral-color;
}

.iedib-ret-ampliacio {
  margin: 0 5px 0 25px;
  padding: 2px 5px;
  background: $ampliacio-fons-color;
  border-left: 2px solid $ampliacio-lateral-color;
}

.iedib-ret::after {
  font-size: 14px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  left: -19px;
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-weight: 900;
  padding: 0;
}

.iedib-ret-alerta::after {
  content: '\f071';
  color: $alerta-lateral-color;
}

.iedib-ret-important::after {
  content: '\f08d';
  color: $important-lateral-color;
}

.iedib-ret-consell::after {
  content: '\f0eb';
  color: $consell-lateral-color;
}

.iedib-ret-ampliacio::after {
  content: '\f00e';
  color: $ampliacio-lateral-color;
}


/** Snippet tasca / exercici proposat **/
.iedib-capsa>.iedib-tasca.iedib-central, .iedib-capsa>.iedib-proposat.iedib-central {
  padding: 10px;
  background-color: white;
  text-align: left;
  position: relative;
}

.iedib-capsa>.iedib-tasca.iedib-central>h4:first-of-type {
  padding: 0;
  margin: 3px 0 20px 20px;
  color: rgb(17, 198, 165);
}

.iedib-capsa>.iedib-proposat.iedib-central>h4:first-of-type {
  padding: 0;
  margin: 3px 0 20px 20px;
  color: rgb(100, 100, 255);
}

.iedib-capsa>.iedib-tasca.iedib-central {
  border: 6px solid white;
  border-top: 6px solid rgb(17, 198, 165);
}

.iedib-capsa>.iedib-tasca.iedib-proposat.iedib-central {
  border-top: 6px solid rgb(100, 100, 255);
}

.iedib-capsa>.iedib-tasca.iedib-central {
  border: 6px solid white;
  border-top: 6px solid rgb(17, 198, 165);
  padding-top: 0px;
  margin-top: 0;
}

.iedib-capsa>.iedib-tasca::after {
  background: rgb(17, 198, 165);
  content: "\f040";
  font-size: 15px;
  width: 22px;
  height: 22px;
  position: absolute;
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-weight: 900;
  color: white;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border-bottom: 2px solid white;
  top: 2px;
  left: 0;
}

.iedib-capsa>.iedib-proposat::after {
  background: rgb(100, 100, 255);
  content: "\f1d8";
}

/** subsubsecció**/
.iedib-hr {
  background-color: #0070a8;
  height: 1px;
  border: 0;
}

/** disable this component **/
.iedib-square {
  display: none;
}

h4.iedib-subsub {
  font-size: 1.32rem;
  font-style: italic;
  font-weight: bold;
}

@media(max-width: 1200px) {
  h4.iedib-subsub {
     font-size: calc(0.87625rem + 0.6075vw);
  }
}

h4.iedib-subsub::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4px;
  background: #bed0f6;
}

/** Snippet frase célebre **/
.iedib-quote {
  background: #f6f6ff;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
}

.iedib-quote p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
}

.iedib-quote cite {
  font-size: 14px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.9;
}

.iedib-quote:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5em;
  color: rgba(91, 88, 241, .3);
  font-weight: normal;
}

.iedib-quote:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: -32px;
  font-size: 20em;
  color: rgba(91, 88, 241, .3);
  font-weight: normal;
}

@media (max-width: 640px) {
  .iedib-quote:after {
    font-size: 18em;
    right: -25px;
  }
}


/** Snippet fragment de text **/

.iedib-fragment {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 35px auto;
  min-height: 300px;
  padding: 24px 24px 24px 24px;
  position: relative;
  width: 92%;
  z-index: 1;
}

.iedib-fragment > h4:first-of-type {
  margin-bottom: 20px;
  font-size: 125%;
}

.iedib-fragment p {
  font-size: 95%;
}

.iedib-fragment>cite {
  opacity: 0.8;
}

.iedib-fragment:before, .iedib-fragment:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.iedib-fragment:before {
  background: #f6f6f6;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  left: -5px;
  top: 4px;
  transform: rotate(-1deg);
}

.iedib-fragment:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
  right: -3px;
  top: 1px;
  transform: rotate(0.4deg);
}

/** Snippet correcte-incorrecte **/
.iedib-correcte-incorrecte {
  margin-left: 30px;
}

.iedib-correcte {
  position: relative;
  color: $exemple-lateral-color;
  margin-bottom: 5px;
  border-left: 2px solid $exemple-lateral-color;
  padding-left: 10px;
  line-height: normal;
}

.iedib-incorrecte {
  position: relative;
  color: $alerta-lateral-color;
  border-left: 2px solid $alerta-lateral-color;
  padding-left: 10px;
  line-height: normal;
}

.iedib-correcte::after {
  color: $exemple-lateral-color;
  content: "\f058";
  font-size: 20px;
  position: absolute;
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-weight: 900;
  top: -2px;
  left: -25px;
}

.iedib-incorrecte::after {
  color: $alerta-lateral-color;
  content: "\f057";
  font-size: 20px;
  top: -2px;
  left: -25px;
  position: absolute;
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-weight: 900;
}


/** Video **/
.iedib-video-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.iedib-videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.iedib-videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iedib-caption {
  text-align: center;
  margin: 10px auto;
}

.iedib-caption-counter {
  font-weight: bold;
  font-size: 90%;
}

.iedib-caption-title {
  font-style: italic;
  font-size: 90%;
}

.iedib-spinner {
  display: none;
}

/** Image **/
.iedib-figura {
  width: 94%;
  margin: auto;
  text-align: center;
}

.iedib-imggrid {
  margin: auto;
  box-shadow: 1px 1px 1px 1px #ccc;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
}

.iedib-grid-responsive img {
  margin: 10px;
}

/** Taules **/
table.iedib-table {
  margin: auto;
}
table.iedib-table th {
  background-color: aliceblue;
  padding: 2px 5px;
}
table.iedib-table td {
  vertical-align: top;
  padding: 2px 5px;
}

/*** Taula - capsalera examen ***/
div.iedib-capsalera-examen > table {
  min-width: 550px;
}


/** Capçalera general **/
.iedib-titol-general {
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 25px;
  background-color: #7d9fd3;
  width: 99%;
}

.iedib-titol-general-text {
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px #57609f;
}


/** Acordió - configuració IEDIB desplegables **/
.iedib-accordion {
  width: 99%;
  margin: auto;
}

/** Menú pestanyes -- configuració IEDIB dels tabpanes **/
.iedib-tabmenu {
  display: table;
  width: 99%;
  margin: auto;
  border: 1px solid #EEEEEE;
}

.iedib-tabpane {
  padding: 5px;
  width: 96%;
}


/** Snippet codi programació **/
/* Capsa de codi de programació */
.iedib-code {
  box-shadow: -1px 0 0 0 #358ccb, 0 0 0 1px #dfdfdf;
  border-left: 10px solid #358ccb;
  background-color: #fdfdfd;
  padding: 10px;
}

.iedib-code-stripped {
  background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, .04) 50%);
  background-size: 44px 44px;
  background-origin: content-box;
}

code.hljs {
  background: none;
}

.hljs-ln td {
  padding-right: 20px !important;
}

.hljs-ln-n {
  color: rgb(100, 100, 100);
}


/**fancy list**/
ol.iedib-falist {
  list-style: none;
  counter-reset: iedibfalist-counter;
}

ol.iedib-falist>li {
  counter-increment: iedibfalist-counter;
  position: relative;
  margin-bottom: 30px;
}

ol.iedib-falist>li::before {
  content: counter(iedibfalist-counter);
  color: white;
  background: rgb(108, 117, 115);
  border-radius: 35%;
  font-size: 96%;
  padding: 0 2px;
  min-width: 24px;
  height: 24px;
  font-weight: bold;
  position: absolute;
  left: -35px;
  top: 0;
  text-align: center;
  vertical-align: middle;
}

/** iedib glossari **/
.iedib-glossari {
  margin: 10px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
}

.iedib-glossari.iedib-glossari-reading {
  background-color: #fafabf;
  border-color: #bbbb0a;
}

.iedib-glossari.iedib-glossari-listening {
  background-color: #e5fde5;
  border-color: #91b791;
}

.iedib-glossari.iedib-glossari-vocabulary {
  background-color: #f3f3ff;
  border-color: #a4a4b5;
}


/** Medias and responsivity **/
/* 
   ##Device = Most of the Smartphones Mobiles (Portrait)
   ##Screen = B/w 320px to 479px
  */
@media (max-width: 480px) {
  .iedib-capsa-mitjana {
    width: 96%;
    margin: 5px auto;
  }

  .iedib-capsa-petita {
    width: 96%;
    margin: 5px auto;
  }

  .iedib-video-container {
    width: 95%;
    margin: auto;
  }
}

/* 
   ##Device = Low Resolution Tablets, Mobiles (Landscape)
   ##Screen = B/w 481px to 767px
  */
@media (max-width: 767px) {
  .iedib-capsa-mitjana {
    width: 96%;
    margin: 5px auto;
  }

  .iedib-capsa-petita {
    width: 60%;
    margin: 5px auto;
  }

  .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    padding-right: 15px;
    padding-left: 15px;
    min-width: 100%
  }

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  */
@media (min-width: 768px) and (max-width: 1280px) {
  .iedib-fluid {
    overflow: hidden;
  }

  .iedib-formulacio {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  .iedib-resolucio {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}

@media screen and (max-width: 768px) {
  .tiny_widgethub-preview {
    display: none!important;
  } 
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
  */
@media (min-width: 1281px) {
  .iedib-video-container {
    width: 75%;
    margin: auto;
  }

  .iedib-fluid {
    overflow: hidden;
  }

  .iedib-formulacio {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  .iedib-resolucio {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }
}

/*
   * Make acordions and tabpanes printables
*/
@media print {
  * {
    -moz-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }

  @page {
    size: A4;
  }

  div[role="main"] {
    background-color: white;
    max-width: 90%;
    font-size: 110%;
    margin: auto;
  }

  #page-content {
    background-color: white;
  }

  .accordion-body.collapse {
    display: block !important;
  }

  .iedib-tabmenu>ul>li>a {
    color: #222;
  }

  .iedib-tabmenu {
    display: flex;
  }

  .tab-content>.tab-pane.iedib-tabpane {
    display: block !important;
  }

  .tab-content>.tab-pane.iedib-tabpane::after {
    content: '\002014\002014\002014';
    display: block;
    text-align: center;
  }

  /* Accesibilitat als links impressos*/
  a.iedib-plink:after {
    content: " <"attr(href) "> " !important;
    font-style: italic !important;
    font-size: 0.9em !important;
  }

  /* videos h5p */
  .iedib-video-container>iframe {
    display: none;
  }

  .iedib-video-container>iframe::after {
    content: " <"attr(src) "> " !important;
    display: block;
  }

}

/************** Added a posteriori */
.iedib-rwrap {
  text-align: right;
  font-size: 0;
}

i.fad.fa-stopwatch::before {
  content: "\f017";
  font-family: "Font Awesome 6 Free", "FontAwesome";
  font-style: normal;
  font-weight: 900;
}

.iedib-ctx {
  display: inline-block;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background: rgb(31, 106, 219);
  color: rgb(241, 245, 254);
  margin: 0;
  padding: 4px;
  width: 18px;
  font-size: 11px;
}

.iedib-time {
  display: inline-block;
  margin: 0px;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: rgb(241, 245, 254);
  color: rgb(31, 106, 219);
  font-size: 12px;
}

.iedib-time > span {
  font-weight: bold;
  font-style: normal;
}

div.popover {
  max-width: 400px;
}

.ib-blink {
  position: absolute;
  top: -5px;
  right: 55px;
  font-size: 80%;
  color: #5960b8;
  padding: 5px;
  font-weight: bold;
  animation: ib_blinker 1s infinite;
}

@keyframes ib_blinker {
  from {
    opacity: 1.0;
  }

  50% {
    opacity: 0.25;
  }

  to {
    opacity: 1.0;
  }
}
